[submodule "AscendencyCustomMod"]
	path = AscendencyCustomMod
	url = https://github.com/md5sha256/AscendencyCustomMod.git
[submodule "AscendencyServerPlugin"]
	path = AscendencyServerPlugin
	url = https://github.com/md5sha256/AscendencyServerPlugin.git
